/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
.spacing-xlarge {
  padding: xlarge; }

.spacing-large {
  padding: large; }

.spacing-medium {
  padding: medium; }

.spacing-small {
  padding: small; }

.spacing-xsmall {
  padding: xsmall; }

.c-red {
  color: red; }

.c-white {
  color: white; }

.c-black {
  color: black; }

.c-blue {
  color: blue; }

.fz-large {
  font-size: large; }

.fz-medium {
  font-size: medium; }

.fz-small {
  font-size: small; }

/* Imports */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-family: "Roboto", sans-serif;
  color: #0b0c0d; }

/* HELPERS */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.screen-M {
  max-width: 1500px;
  margin: 0 auto; }

.navigation {
  position: fixed;
  inset: 20px;
  background-color: #287bff;
  width: 80px;
  border-left: 10px solid #287bff;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
  transition: 0.5s; }
  .navigation .icono {
    width: 43px; }
  .navigation .icono_main {
    width: 150px; }
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .navigation ul li {
      position: relative;
      list-style: none;
      width: 100%;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px; }
      .navigation ul li:hover {
        background: #fff; }
      .navigation ul li:nth-child(1) {
        top: 20px;
        margin-bottom: 40px;
        background: none; }
      .navigation ul li:not(:first-child):hover::before {
        content: '';
        position: absolute;
        top: -20px;
        right: 0;
        width: 20px;
        height: 20px;
        background: transparent;
        border-bottom-right-radius: 20px;
        box-shadow: 7.5px 7.5px 0 7.5px #fff; }
      .navigation ul li:not(:first-child):hover::after {
        content: '';
        position: absolute;
        bottom: -20px;
        right: 0;
        width: 20px;
        height: 20px;
        background: transparent;
        border-top-right-radius: 20px;
        box-shadow: 7.5px -7.5px 0 7.5px #fff; }
      .navigation ul li:hover:not(:first-child) a {
        color: #365fa1; }
      .navigation ul li a {
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: #fff;
        margin-left: 19px; }
        .navigation ul li a .icon {
          position: relative;
          display: block;
          min-height: 60px;
          height: 60px;
          line-height: 70px;
          text-align: center; }
          .navigation ul li a .icon ion-icon {
            font-size: 1.75em; }
        .navigation ul li a .title {
          position: relative;
          display: block;
          padding: 0 10px;
          height: 60px;
          line-height: 60px;
          text-align: start;
          white-space: nowrap;
          margin-left: 50px; }
  .navigation.active {
    width: 300px;
    border-radius: 20px; }

.toggle {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .toggle::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(-5px);
    transition: 1s; }
  .toggle::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(5px);
    transition: 1s; }

.navigation.active .toggle::before {
  transform: translateY(0px) rotate(-405deg); }

.navigation.active .toggle::after {
  transform: translateY(0px) rotate(225deg); }

.fondoCarrito {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/carrito.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.swal2-popup {
  height: 400px; }

.toa {
  display: flex;
  height: 70px;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/884d4739-e1b4-4a0d-9915-e886ef4bf263/dcanqxa-8552c4ae-a175-403a-935e-8da88d81e300.png/v1/fill/w_800,h_494,q_80,strp/rebirth_by_thefearmaster_dcanqxa-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDk0IiwicGF0aCI6IlwvZlwvODg0ZDQ3MzktZTFiNC00YTBkLTk5MTUtZTg4NmVmNGJmMjYzXC9kY2FucXhhLTg1NTJjNGFlLWExNzUtNDAzYS05MzVlLThkYTg4ZDgxZTMwMC5wbmciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.9IZKGdSv_iioqQdCHeJ-L6pSBPkBIV51sC6kz-54W0c);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  align-items: flex-end;
  border-radius: 10px;
  box-shadow: 0px 15px 25px white;
  font-family: 'Merriweather', serif; }

.toastify {
  padding: 1px 20px; }

.m {
  z-index: 1; }

.tuCarrito {
  width: 100%;
  height: 100%; }
  .tuCarrito .Bienvenida2 {
    z-index: 2;
    font-family: 'Merriweather', serif;
    color: #160937;
    font-size: 2em;
    height: 100px;
    display: flex;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); }
  .tuCarrito .menuCarrito {
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    height: 100%; }
    .tuCarrito .menuCarrito .titulosDeCarrito {
      font-size: large;
      font-weight: 300;
      justify-content: space-around;
      margin-bottom: 20px; }
    .tuCarrito .menuCarrito .cartasDeCarrito {
      justify-content: space-around; }
      .tuCarrito .menuCarrito .cartasDeCarrito .CartasdeProductos {
        justify-content: space-around;
        align-items: center; }
        .tuCarrito .menuCarrito .cartasDeCarrito .CartasdeProductos .imagen {
          width: 60px; }
  .tuCarrito .comprarBtn {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 2em; }
    .tuCarrito .comprarBtn .confirmar {
      padding: 10px 30px;
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 1.7em;
      font-weight: 500;
      background: #287bff;
      color: #fff;
      cursor: pointer; }
      .tuCarrito .comprarBtn .confirmar:hover {
        transition: 0.5s;
        background-color: #d2b59a; }
    .tuCarrito .comprarBtn .vaciar {
      padding: 10px 30px;
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 1.7em;
      font-weight: 500;
      background: red;
      color: #fff;
      cursor: pointer; }
      .tuCarrito .comprarBtn .vaciar:hover {
        transition: 0.5s;
        background-color: #f37a09; }

.fondo {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/berserker_in_the_moonlight_by_fazal_sama_d95sn3c.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.Bienvenida {
  font-family: 'Merriweather', serif;
  color: #7fffd4;
  font-size: 3em;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: end; }

.fondoIndex {
  background-color: #101F74;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23011a6d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  width: 100%;
  height: 100%; }

.productos .tituloProducto {
  width: 100%;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: #7fffd4; }

.sectionProductos {
  padding-top: 100px;
  width: 100%;
  height: 1000px;
  flex-wrap: wrap;
  gap: 20px; }
  .sectionProductos .card {
    position: relative;
    width: 350px;
    height: 190px;
    background-color: #f6fbfe;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    margin-top: 50px; }
    .sectionProductos .card:hover {
      height: 450px; }
      .sectionProductos .card:hover .imgBx {
        width: 200px;
        height: 250px; }
    .sectionProductos .card:hover .content .details {
      transform: translateY(0px); }
    .sectionProductos .card .imgBx {
      position: absolute;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
      width: 100px;
      height: 150px;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
      overflow: hidden;
      transition: 0.5s; }
      .sectionProductos .card .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .sectionProductos .card .content {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      overflow: hidden; }
      .sectionProductos .card .content .details {
        padding: 40px;
        text-align: center;
        width: 100%;
        transition: 0.5s;
        transform: translateY(150px); }
        .sectionProductos .card .content .details h2 {
          font-size: 1.25em;
          font-weight: 600; }
          .sectionProductos .card .content .details h2 span {
            font-size: 0.75em;
            font-weight: 500;
            opacity: 0.5; }
        .sectionProductos .card .content .details .data {
          display: flex;
          justify-content: space-between;
          margin: 20px 0; }
          .sectionProductos .card .content .details .data h3 {
            font-size: 1em;
            color: #555;
            line-height: 1.2em;
            font-weight: 600; }
            .sectionProductos .card .content .details .data h3 span {
              font-size: 0.85em;
              font-weight: 400;
              opacity: 0.5; }
        .sectionProductos .card .content .details .actionBtn {
          display: flex;
          justify-content: space-between;
          gap: 20px; }
          .sectionProductos .card .content .details .actionBtn button {
            padding: 10px 30px;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 0.7em;
            font-weight: 500;
            background: #287bff;
            color: #fff;
            cursor: pointer; }
            .sectionProductos .card .content .details .actionBtn button:nth-child(2) {
              border: 1px solid #287bff;
              color: #287bff;
              background: #fff; }
