.fondoCarrito {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/carrito.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.swal2-popup {
    height: 400px;
    
    
  }
.toa{
    display: flex;
    height: 70px;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/884d4739-e1b4-4a0d-9915-e886ef4bf263/dcanqxa-8552c4ae-a175-403a-935e-8da88d81e300.png/v1/fill/w_800,h_494,q_80,strp/rebirth_by_thefearmaster_dcanqxa-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDk0IiwicGF0aCI6IlwvZlwvODg0ZDQ3MzktZTFiNC00YTBkLTk5MTUtZTg4NmVmNGJmMjYzXC9kY2FucXhhLTg1NTJjNGFlLWExNzUtNDAzYS05MzVlLThkYTg4ZDgxZTMwMC5wbmciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.9IZKGdSv_iioqQdCHeJ-L6pSBPkBIV51sC6kz-54W0c);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    align-items: flex-end;
    border-radius: 10px;
    box-shadow: 0px 15px 25px white;
    font-family: 'Merriweather', serif;
}
  




.toastify{
    padding: 1px 20px;
}

.m {
    z-index: 1;

}

// Seccion del la compra
.tuCarrito {
    width: 100%;
    height: 100%;

    .Bienvenida2 {
        z-index: 2;
        font-family: 'Merriweather', serif;
        color: #160937;
        font-size: 2em;
        height: 100px;
        display: flex;
        align-items: flex-start;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .menuCarrito {
        margin-top: 50px;
        background: rgba(255, 255, 255, 0.45);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 100%;
        height: 100%;
        .titulosDeCarrito{
            font-size: large;
            font-weight: 300;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .cartasDeCarrito{
            justify-content: space-around;
            .CartasdeProductos{
                justify-content: space-around;
                align-items: center;

                .imagen{
                    width: 60px;
                    
        
                }
            }

        }

    }

    .comprarBtn {
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 2em   ;

        .confirmar {
            padding: 10px 30px;
            border-radius: 10px;
            border: none;
            outline: none;
            font-size: 1.7em;
            font-weight: 500;
            background: #287bff;
            color: #fff;
            cursor: pointer;

            &:hover {
                transition: 0.5s;
                background-color: #d2b59a;
            }
        }
        .vaciar{
            padding: 10px 30px;
            border-radius: 10px;
            border: none;
            outline: none;
            font-size: 1.7em;
            font-weight: 500;
            background: red;
            color: #fff;
            cursor: pointer;

            &:hover {
                transition: 0.5s;
                background-color: #f37a09;
            }

        }

    }
}