
// fondo del la presentacion
.fondo {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/images/berserker_in_the_moonlight_by_fazal_sama_d95sn3c.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

